# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
credit = pd.read_csv('demo01.csv')
credit.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [3]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [4]:
credit.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [5]:
credit.mau.value_counts()

False    16260
True       390
Name: mau, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [6]:
categoria_tipo = pd.DataFrame(credit.dtypes , columns = ['tipos'])
categoria_tipo

                         tipos
sexo                    object
posse_de_veiculo        object
posse_de_imovel         object
qtd_filhos               int64
tipo_renda              object
educacao                object
estado_civil            object
tipo_residencia         object
idade                  float64
tempo_emprego          float64
possui_celular           int64
possui_fone_comercial    int64
possui_fone              int64
possui_email             int64
qt_pessoas_residencia  float64
mau                       bool

In [7]:
qtd_categorias = []
for nome in  categoria_tipo.index:
    numero_categorias = len(credit[nome].unique())
    qtd_categorias.append(numero_categorias)
qtd_categorias

[2, 2, 2, 8, 5, 5, 5, 6, 5298, 3005, 1, 2, 2, 2, 9, 2]

In [8]:
categoria_tipo['qtd_categorias'] = qtd_categorias

In [9]:
categoria_tipo

                         tipos  qtd_categorias
sexo                    object               2
posse_de_veiculo        object               2
posse_de_imovel         object               2
qtd_filhos               int64               8
tipo_renda              object               5
educacao                object               5
estado_civil            object               5
tipo_residencia         object               6
idade                  float64            5298
tempo_emprego          float64            3005
possui_celular           int64               1
possui_fone_comercial    int64               2
possui_fone              int64               2
possui_email             int64               2
qt_pessoas_residencia  float64               9
mau                       bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [10]:
credit['sexo'].unique()

array(['M', 'F'], dtype=object)

In [11]:
credit['posse_de_veiculo'].unique()

array(['Y', 'N'], dtype=object)

In [12]:
credit['posse_de_imovel'].unique()

array(['Y', 'N'], dtype=object)

In [13]:
credit['tipo_renda'].unique()

array(['Working', 'Commercial associate', 'State servant', 'Pensioner',
       'Student'], dtype=object)

In [14]:
credit['educacao'].unique()

array(['Secondary / secondary special', 'Higher education',
       'Incomplete higher', 'Lower secondary', 'Academic degree'],
      dtype=object)

In [15]:
credit['estado_civil'].unique()

array(['Married', 'Single / not married', 'Civil marriage', 'Widow',
       'Separated'], dtype=object)

In [16]:
credit['tipo_residencia'].unique()

array(['House / apartment', 'Rented apartment', 'Municipal apartment',
       'With parents', 'Co-op apartment', 'Office apartment'],
      dtype=object)

In [17]:
credit['mau'].unique()

array([False,  True])

In [18]:
#criando uma cópia para evitar confusões.
credit_encoded = credit.copy()
#mapping para as binarias
credit_encoded.sexo = credit_encoded.sexo.map({'F': 1, 'M':0})
credit_encoded.posse_de_imovel = credit_encoded.posse_de_imovel.map({'Y': 1, 'N':0})
credit_encoded.posse_de_veiculo = credit_encoded.posse_de_veiculo.map({'Y': 1, 'N':0})
credit_encoded.mau = credit_encoded.mau.map({True: 1, False:0})

In [19]:
credit_encoded['sexo'].unique()

array([0, 1], dtype=int64)

In [20]:
credit_encoded['posse_de_imovel'].unique()

array([1, 0], dtype=int64)

In [21]:
credit_encoded['posse_de_veiculo'].unique()

array([1, 0], dtype=int64)

In [22]:
#Criando as dummies
for var in categoria_tipo[categoria_tipo['tipos'] == 'object'].index: #estamos usando a categoria_tipo para verificar as variaveis objetos e pegar o index.
    var_dum =pd.get_dummies(credit_encoded[var], prefix = var, prefix_sep = '_', drop_first=True, dtype =int) #usando o index pegamos no df que criamos uma copia para fazera  dummie
    credit_encoded.drop([var], axis = 1 , inplace = True) # ja que estamoc om um df copia, vamor dropar os a variavel original e deixar as dummies
    credit_encoded=credit_encoded.join(var_dum, how = 'right')

In [23]:
credit_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   qtd_filhos                              16650 non-null  int64
 1   idade                                   16650 non-null  float64
 2   tempo_emprego                           16650 non-null  float64
 3   possui_celular                          16650 non-null  int64
 4   possui_fone_comercial                   16650 non-null  int64
 5   possui_fone                             16650 non-null  int64
 6   possui_email                            16650 non-null  int64
 7   qt_pessoas_residencia                   16650 non-null  float64
 8   mau                                     16650 non-null  int64
 9   sexo_1                                  16650 non-null  int32
 10  posse_de_veiculo_1                      16650 non-null  int32
 11  posse_de_imovel_1                       16650 non-null  int32
 12  tipo_renda_Pensioner                    16650 non-null  int32
 13  tipo_renda_State servant                16650 non-null  int32
 14  tipo_renda_Student                      16650 non-null  int32
 15  tipo_renda_Working                      16650 non-null  int32
 16  educacao_Higher education               16650 non-null  int32
 17  educacao_Incomplete higher              16650 non-null  int32
 18  educacao_Lower secondary                16650 non-null  int32
 19  educacao_Secondary / secondary special  16650 non-null  int32
 20  estado_civil_Married                    16650 non-null  int32
 21  estado_civil_Separated                  16650 non-null  int32
 22  estado_civil_Single / not married       16650 non-null  int32
 23  estado_civil_Widow                      16650 non-null  int32
 24  tipo_residencia_House / apartment       16650 non-null  int32
 25  tipo_residencia_Municipal apartment     16650 non-null  int32
 26  tipo_residencia_Office apartment        16650 non-null  int32
 27  tipo_residencia_Rented apartment        16650 non-null  int32
 28  tipo_residencia_With parents            16650 non-null  int32
dtypes: float64(3), int32(20), int64(6)
memory usage: 2.4 MB

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [24]:
tabela_cruzada_email = pd.crosstab(columns = [credit_encoded['possui_email'],credit_encoded['posse_de_veiculo_1']],
                             index = credit_encoded['mau'],
                             margins=True)
tabela_cruzada_email

possui_email           0          1         All
posse_de_veiculo_1     0     1    0    1
mau
0                   9108  5702  823  627  16260
1                    233   127   14   16    390
All                 9341  5829  837  643  16650

In [25]:
# os dados da tabela com e-mail mostram que o fato da pessoa não possuir e-mail ela tem uma maior chande de default,
# no caso de veícullos existe essa tendenciua, mas a distribuição é mais igualitaria.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [26]:
credit_encoded.to_csv('dataframe_credito.csv')